In [1]:
people = {
    "first": ["Deepak", 'Ashif', 'Akshay'], 
    "last": ["Kumar", 'md', 'Krishna'], 
    "email": ["deepakkumar@gmail.com", 'mdashif@email.com', 'akshaykrishna@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com

In [5]:
df['email']

0      deepakkumar@gmail.com
1          mdashif@email.com
2    akshaykrishna@email.com
Name: email, dtype: object

In [6]:
df.set_index('email', inplace=True)

In [7]:
df

                          first     last
email
deepakkumar@gmail.com    Deepak    Kumar
mdashif@email.com         Ashif       md
akshaykrishna@email.com  Akshay  Krishna

In [8]:
df.index

Index(['deepakkumar@gmail.com', 'mdashif@email.com',
       'akshaykrishna@email.com'],
      dtype='object', name='email')

In [9]:
df.loc['deepakkumar@gmail.com', 'last']

'Kumar'

In [10]:
df.iloc[0]

first    Deepak
last      Kumar
Name: deepakkumar@gmail.com, dtype: object

In [11]:
df.reset_index(inplace=True)
df

                     email   first     last
0    deepakkumar@gmail.com  Deepak    Kumar
1        mdashif@email.com   Ashif       md
2  akshaykrishna@email.com  Akshay  Krishna