In [1]:
person = {
    "first": "Deepak", 
    "last": "Kumar", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Deepak"], 
    "last": ["Kumar"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Deepak", 'Ashif', 'Akshay'], 
    "last": ["Kumar", 'md', 'Krishna'], 
    "email": ["deepakkumar@gmail.com", 'mdashif@email.com', 'akshaykrishna@email.com']
}

In [4]:
people['email']

['deepakkumar@gmail.com', 'mdashif@email.com', 'akshaykrishna@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com

In [8]:
df['email']

0      deepakkumar@gmail.com
1          mdashif@email.com
2    akshaykrishna@email.com
Name: email, dtype: object

In [9]:
df.email

0      deepakkumar@gmail.com
1          mdashif@email.com
2    akshaykrishna@email.com
Name: email, dtype: object

In [10]:
df[['last', 'email']]

      last                    email
0    Kumar    deepakkumar@gmail.com
1       md        mdashif@email.com
2  Krishna  akshaykrishna@email.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[[0, 1], 2]

0    deepakkumar@gmail.com
1        mdashif@email.com
Name: email, dtype: object

In [13]:
df

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com

In [14]:
df.loc[[0, 1], ['email', 'last']]

                   email   last
0  deepakkumar@gmail.com  Kumar
1      mdashif@email.com     md

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
## default index 
df.iloc[0]

first                   Deepak
last                     Kumar
email    deepakkumar@gmail.com
Name: 0, dtype: object

In [17]:
df.iloc[0].index

Index(['first', 'last', 'email'], dtype='object')