In [7]:
people = {
    "first": ["Deepak", 'Ashif', 'Akshay', 'Rakesh'], 
    "last": ["Kumar", 'md', 'Krishna','Kumar'], 
    "email": ["deepakkumar@gmail.com", 'mdashif@email.com', 'akshaykrishna@email.com','Rakeshkumar@gmail.com']
}

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com
3  Rakesh    Kumar    Rakeshkumar@gmail.com

In [11]:
df.sort_values(by='last', ascending=False)

    first     last                    email
1   Ashif       md        mdashif@email.com
0  Deepak    Kumar    deepakkumar@gmail.com
3  Rakesh    Kumar    Rakeshkumar@gmail.com
2  Akshay  Krishna  akshaykrishna@email.com

In [12]:
df.sort_values(by=['last', 'first'], ascending=False)

    first     last                    email
1   Ashif       md        mdashif@email.com
3  Rakesh    Kumar    Rakeshkumar@gmail.com
0  Deepak    Kumar    deepakkumar@gmail.com
2  Akshay  Krishna  akshaykrishna@email.com

In [13]:
## to sort differnt columns in different order
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [14]:
df

    first     last                    email
1   Ashif       md        mdashif@email.com
0  Deepak    Kumar    deepakkumar@gmail.com
3  Rakesh    Kumar    Rakeshkumar@gmail.com
2  Akshay  Krishna  akshaykrishna@email.com

In [15]:
df.sort_index()

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com
3  Rakesh    Kumar    Rakeshkumar@gmail.com

In [16]:
df['last'].sort_values()

2    Krishna
0      Kumar
3      Kumar
1         md
Name: last, dtype: object