In [1]:
people = {
    "first": ["Deepak", 'Ashif', 'Akshay'], 
    "last": ["Kumar", 'md', 'Krishna'], 
    "email": ["deepakkumar@gmail.com", 'mdashif@email.com', 'akshaykrishna@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first     last                    email
0  Deepak    Kumar    deepakkumar@gmail.com
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com

In [14]:
filt = (df['last'] == 'Kumar') | (df['first'] == 'Ashif')
filt

0     True
1     True
2    False
dtype: bool

In [15]:
df[filt]

    first   last                  email
0  Deepak  Kumar  deepakkumar@gmail.com
1   Ashif     md      mdashif@email.com

In [16]:
df.loc[filt]

    first   last                  email
0  Deepak  Kumar  deepakkumar@gmail.com
1   Ashif     md      mdashif@email.com

In [17]:
df.loc[filt, 'email']

0    deepakkumar@gmail.com
1        mdashif@email.com
Name: email, dtype: object

In [18]:
df.loc[~filt, 'email']

2    akshaykrishna@email.com
Name: email, dtype: object

In [20]:
filt1 = (df['last'] == 'Kumar') | (df['first'] == 'Deepak')
filt1

0     True
1    False
2    False
dtype: bool

In [21]:
df[filt1]

    first   last                  email
0  Deepak  Kumar  deepakkumar@gmail.com

In [22]:
df[~filt1]

    first     last                    email
1   Ashif       md        mdashif@email.com
2  Akshay  Krishna  akshaykrishna@email.com